<section class="btn-design">
<header class="header">
  <HR class="line">
  <div class="logo" >
    <img src="<%=image_path("Vector.png") %>" alt="">
    <h4 class="maze-sub">Maze</h4>
  </div>

  <div class="text">
    <h1 style="color:white;">Social media shared today, tomorrow or by location</h1>
    <h3 style="color:white;">Discover with Maze</h3>
  </div>

  <div class="nav-many"><a href="/accounts/sign_up">
      <button class="Create">Create account</button></a>
    <h4 class="or">or</h4>

    <a href="/accounts/sign_in"><button class="login">Login</button></a>
  </div>

</header>
</section>